@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply px-5 py-2 w-full rounded-md  border-2 placeholder-gray-dark focus:outline-none focus:border-purple-300 dark:focus:border-gray-500 focus:bg-transparent focus:ring-0  border-border dark:bg-gray-700 dark:text-gray-400 dark:border-gray-600;
  }
  [type="checkbox"] {
    @apply rounded w-5 h-5 border-gray-400 transition text-dark focus:ring-dark;
  }
  [type="radio"] {
    @apply border-gray-300 text-indigo-600 focus:ring-indigo-500;
  }
  label {
    @apply font-sans font-bold text-sm leading-5 text-dark dark:text-gray-200;
  }
}
.input-style{
  @apply w-full pl-8 pr-2 py-2.5 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:ring-2 focus:ring-purple-300   dark:focus:ring-gray-500 ;
}
.scrollable-element {
  scrollbar-width: thin;
}
.wp{
    @apply px-5 md:px-10 lg:px-28;
}
.animation{
    @apply transition-all duration-300 ease-in-out;
}
button{
  @apply focus:outline-none;
}
.error{
  @apply dark:text-gray-300
}
 /* for the loader */
 .lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid #111217;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #111217 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.2s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.1s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


    /* for the loader */
 .lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid #111217;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #111217 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.2s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.1s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


  /* for the loader2 */
  .lds-ring2 {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
  }
  .lds-ring2 div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 5px;
    width: 50px;
    height: 50px;
    border: 5px solid #10b759;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #10b759 transparent transparent transparent;
  }
  .lds-ring2 div:nth-child(1) {
    animation-delay: -0.3s;
  }
  .lds-ring2 div:nth-child(2) {
    animation-delay: -0.2s;
  }
  .lds-ring2 div:nth-child(3) {
    animation-delay: -0.1s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



/* loading animation of data  */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #6466F1;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}